﻿<div class="row mt-5">
    <div class="col-md-6 offset-3 alert alert-danger text-center">
        <h2>You Are not allowed to access this page</h2>
        <p>please , Click the button below to be redirected to home page </p>
        <hr />
        <button class="btn btn-success" asp-controller="Movies" asp-action="Index">Home Page</button>
    </div>
</div>